.DishesList {
  width: 90%;
  min-width: 576px;
  margin: 0 auto;
}

.DishesList .HeadRow {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.DishesList .HeadRow .Title {
  display: inline-block;
  font-size: 24px;
}