.Toolbar {
  padding: 20px 5%;
  text-align: center;
  border-bottom: 1px solid #333;
  overflow: hidden;
}

.Toolbar .Title {
  float: left;
}

.Toolbar .NavBar {
  float: right;
}

.Toolbar-Item {
  margin: 0 20px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.Toolbar-Item.Selected {
  color: #077bff;
}