.OrderItem {
  width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 0 2px 2px 2px rgba(50,50,50,0.3);
  overflow: hidden;
}

.OrderInfo {
  width: 60%;
  float: left;
}

.OrderDish {
  padding: 5px 20px;
  overflow: hidden;
  border-bottom: 1px dotted black;
}

.OrderDish.Delivery {
  font-weight: bold;
  border: none;
}

.OrderDish .DishName {
  float: left;
}

.OrderDish .DishValue {
  float: right;
}

.OrderSummary {
  width: 30%;
  float: right;
  padding: 0 20px;
  border: 1px dotted black;
  border-radius: 5px;
}

.OrderSummaryRow {
  padding: 5px 0;
}

.OrderSummary .OrderComplete {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}