.Modal {
  width: 35%;
  min-width: 300px;
  margin: 70px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(50,50,50,0.75);
}

.Modal .Title {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}